In [1]:
from myfunctions import *

WARNING:tensorflow:SavedModel saved prior to TF 2.5 detected when loading Keras model. Please ensure that you are saving the model with model.save() or tf.keras.models.save_model(), *NOT* tf.saved_model.save(). To confirm, there should be a file named "keras_metadata.pb" in the SavedModel directory.

Using cache found in C:\Users\matth/.cache\torch\hub\ultralytics_yolov5_master
YOLOv5  2023-5-16 Python-3.9.12 torch-1.12.1 CPU

Fusing layers...
Model summary: 157 layers, 7012822 parameters, 0 gradients, 15.8 GFLOPs

requirements: C:\Users\matth\anaconda3\Lib\site-packages\requirements.txt not found, check failed.

Adding AutoShape...

In [3]:
res = processImage()
res

,xc,yc,width,height,line,yolo_confidence,char,resnet_confidence
0,165,37,45,43,0,0.860119,Epsilon,1.000000
1,208,34,50,45,0,0.854984,Tau,1.000000
2,258,34,48,42,0,0.852703,Alpha,1.000000
3,302,36,44,47,0,0.850929,Tau,1.000000
4,342,35,43,55,0,0.842976,Theta,0.999999
...,...,...,...,...,...,...,...,...
99,578,498,56,61,7,0.293654,Epsilon,1.000000
100,628,497,56,59,7,0.263101,Kappa,1.000000
101,670,498,36,55,7,0.262750,Mu,1.000000
102,295,583,68,45,8,0.257939,Eta,0.972199
103,373,578,79,52,8,0.254588,Mu,1.000000

In [2]:
import json
import pandas as pd

In [4]:
df = pd.read_json('static/data/outdata.json')
df.columns = ['xc', 'yc', 'width', 'height']
df

       xc     yc  width  height
0   134.0  154.5     50      45
1   105.0   99.5     42      45
2    94.5  158.5     43      41
3    77.0  214.0     40      38
4     9.5  101.0     55      46
5    65.0  104.0     40      42
6   114.0  208.0     52      48
7    20.0  152.0     46      42
8    61.0  158.5     42      37
9    99.0   47.0     36      42
10   39.0  212.5     46      41
11  162.5  206.5     51      51
12  100.5   -0.5     53      39
13   51.5    0.5     53      41
14   63.5   47.5     39      43
15   24.0   41.5     46      41
16  126.0   49.5     34      39
17  140.5  100.0     49      48